body{
    margin: 0;
    padding: 0;
    font-family: tahoma;
}
.navbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding: 10px 10px;
    background:rgba(0, 0, 0, 0.6);
    border-bottom: 3px solid #fff;
}
.Logo{
    width: 7%;
    height: 80%;
    float: left;
    position: relative;
    margin-top:10px;
    top: 0;
    left: 0;
    filter: brightness(1.03);
}
.Logo1{
    width: 2.3%;
    height: 110%;
    float: right;
    position: relative;
    margin-top:2px;
    top: 7px;
    right: 610px;
    filter: brightness(1.2);
    cursor: pointer;
}
.Logo2{
    width: 2.3%;
    height: 110%;
    float: right;
    position: relative;
    margin-top:2px;
    top: 7px;
    right: 532px;
    filter: brightness(1.2);
    cursor: pointer;
}
.Logo3{
    width: 2.15%;
    height: 110%;
    float: right;
    position: relative;
    margin-top:2px;
    top: 7px;
    right: 455px;
    filter: brightness(0.995);
    cursor: pointer;
}
.navbar .logo{
    padding: 10px 5px;
    height: 80px;
    float: left;
    font-size: 62px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(18, 103, 249);
    -webkit-text-stroke-width: 0.38px;
}
.navbar ul{
    list-style: none;
    float: right;
    margin-top: 0;
    margin-right: 30px;
    padding: 0;
    display: flex;
}
.navbar li{
    display: inline-block;
}
.navbar ul li a{
    line-height: 100px;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    transition: 0.7s;
    border-radius: 18px;
    box-shadow: 0 1px 7.5px 0 #00FFFF inset, 0 1px 7.5px 0 #00FFFF,
                0 1px 7.5px 0 #00FFFF inset, 0 1px 7.5px 0 #00FFFF;
    text-shadow: 0 0 1.5px #15f4ee, 0 0 1.5px #15f4ee;
}
@media only screen and (max-width: 769px){
    .container .box{
        flex-direction: column;
    }
    .container .box .dream{
        width: 100%;
    }
}
.btn{
    color: red;
}
.middle{
    margin-bottom: 140px;
    margin-left: 500px;
    position: fixed;
    bottom:0;
    left:0;
    width:100px;
    height: 25px;
    padding: 10px 10px;
    background: transparent;
}
.middle .btn{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    background: orange;
    outline: none;
}
.about{
    margin-bottom: 400px;
    margin-left: 30px;
    text-decoration: underline;
    position: fixed;
    font-size: 45px;
    bottom:0;
    color: white;
    left:0;
    width:100%;
    height: 25px;
    padding: 10px 10px;
}
.info{
    margin-bottom: 320px;
    margin-left: 0px;
    margin-right: 40px;
    position: fixed;
    font-size: 25px;
    bottom:0;
    color: yellow;
    left:0;
    width:100%;
    height: 25px;
    padding: 10px 10px;
}
section{
    width: 100%;
    height: 100vh;
    background: url(homespace.jpg) fixed center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.footer{
    margin-bottom: 33px;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 25px;
    padding: 10px 10px;
    background:rgba(0, 0, 0, 0.6);
    border-top: 2px solid turquoise;
}
.footer1{
    margin-bottom: 0;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 13px;
    padding: 10px 10px;
    background:rgba(0, 0, 0, 0.6);
}
.footer h5{
    font-size: 25px;
    font-family: arial;
    margin-top: 7px;
    margin-right: 200px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
.footer1 .terms{
    font-size: 14px;
    font-family: arial;
    margin-top: 10px;
    margin-left: 340px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
.footer1 .terms:hover{
    text-decoration: underline;
    color: turquoise;
}
.footer1 .privacy{
    font-size: 14px;
    font-family: arial;
    margin-bottom: 0px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
.footer1 .privacy:hover{
    text-decoration: underline;
    color: turquoise;
}
.footer1 .copyright{
    font-size: 14px;
    font-family: arial;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
.footer1 .copyright:hover{
    text-decoration: underline;
    color: turquoise;
}
